@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&family=Lobster&family=Nunito:ital,wght@0,400;0,700;0,800;1,400&family=Press+Start+2P&family=Supermercado+One&family=Yusei+Magic&display=swap');

body {
    background-color: rgb(31, 22, 22);
    font-family: 'Yusei Magic', sans-serif;
}

/* HEADER section styles */
#header>h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    font-size: 70px;
    letter-spacing: 8px;
    margin: 50px 0 0 0;
}
#header>h3 {
    text-align: center;
    color: rgb(163, 148, 148);
    font-size: 20px;
}

/* MAIN section styles */
#pick-a-card, #your-card {
    background-color: rgb(238, 106, 106);
    margin: 30px 10vw 30px 10vw;
    padding: 5px 20px 20px 20px;
    border: rgb(247, 199, 199) solid 7px;
    border-radius: 5px;
}
h2 {
    color: white;
    font-size: 24px;
}


#even-display {
    display: flex;
    justify-content: space-around;
}


.div-white {
    background-color: rgb(255, 245, 234);
    border: rgb(255, 245, 234) solid 7px;
    border-radius: 5px;
    /* Bellow are temporary */
    width: 200px;
    height: 200px;
}
p {
    text-align: center;
    color: white;
}




/* Positioning the "Pick a card" section */
