@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&family=Lobster&family=Nunito:ital,wght@0,400;0,700;0,800;1,400&family=Press+Start+2P&family=Supermercado+One&family=Yusei+Magic&display=swap');

html {
    font-size: 16px;
}
body {
    background-color: rgb(31, 22, 22);
    font-family: 'Yusei Magic', sans-serif;
}

/* HEADER section styles */
#header>h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    font-size: 70px;
    letter-spacing: 8px;
    margin: 50px 0 0 0;
}
#header>h3 {
    text-align: center;
    color: rgb(163, 148, 148);
    font-size: 20px;
}

/* MAIN section styles */
#pick-a-card, #your-card {
    background-color: rgb(238, 106, 106);
    margin: 30px 10vw 30px 10vw;
    padding: 5px 20px 20px 20px;
    border: rgb(247, 199, 199) solid 7px;
    border-radius: 5px;
}
h2 {
    color: white;
    font-size: 24px;
}


#even-display {
    display: flex;
    justify-content: space-around;
}


p {
    text-align: center;
    color: white;
}

#footer{
    text-align: center;
    color: whitesmoke;
}
.div-white {
    background-color: rgb(255, 245, 234);
    border: rgb(255, 245, 234) solid 7px;
    border-radius: 5px;
    width: 340px;
    height: 440px;
    margin: 0px 5px;
}

/* BUTTONS */
.button{
    border: 3px solid rgba(0, 0, 0, 0.541) ;
    background-color: white;  
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    padding: 15px 0;
    margin: 10px 5px;
    width: 60px;
}
.button2{
    border: 3px solid rgba(0, 0, 0, 0.541) ;
    background-color: white;
    cursor: pointer;
    text-align: center;
    font-size: 100px;
    padding: 0;
    margin: 25px 0;
    width: 120px;
}
#heart, #diamond {
    color: rgb(221, 58, 58);
}
.button:hover, .button2:hover, #heart:hover, #diamond:hover {
    background-color: rgb(238, 106, 106);
    color: white;
}
.col-3, .col-6 {
    text-align: center;
}
/* Positioning the "Pick a card" section */



/* "is this your card?" section*/
#your-card-area{
    background-color: rgb(255, 245, 234);
    border: rgb(255, 245, 234) solid 7px;
    border-radius: 5px;
    width: 400px;
    height: 500px;
}

.answer{
    font-size: 30px;
    border: 3px solid black ;
    padding: 15px;
    margin: 10px 5px;
    background-color: white;  
    cursor: pointer; 
}